@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Lora:ital,wght@0,700;1,400&family=Poppins:wght@100;300;400;500;700;800;900&family=Roboto:wght@900&family=Rubik:wght@900&display=swap');
/* fonts
DM Sans
Poppins
Rubik
Lora
Roboto 
*/
@font-face {
    font-family: 'mine2';
    src: url(../Font/mine2.woff) format(woff2);
    font-weight: lighter;
}
@font-face {
    font-family: 'mine';
    src: url(../Font/mine.woff) format(woff2);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'small';
    src: url(../Font/small.woff) format(woff2);
    font-weight: bold;
    font-style: normal;
}
html{
  scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
main{
    background: #000000;
    /* background-color: rgb(30 41 59); */
    /* background-color: rgb(15 23 42); */
    scroll-behavior: smooth;
    animation-delay: 0.2s;
}
header{
    width: 100%;
    background: rgba(0, 0, 0, 0.3) ;
    position: fixed;
    backdrop-filter: blur(5px);
    z-index: 5;

}
ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family:'Poppins','Lora';
    padding: 20px;
    line-height: 3rem;
    margin: 0 15px;
}
nav a{
    color: #fff;
    transition: 0.2s ease;
}
nav a:hover{
    color: rgb(100 116 139);
}

.contact {
    text-decoration: none;
    border: 2px solid rgb(100 116 139);
    color: rgb(100 116 139);
    padding: 0px 20px;
    border-radius: 25px;
    outline: none;
    position: relative;
    transition: all 1s ease-in-out;
    overflow: hidden;
  }

  .contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border-top: 1px solid #fff;
    border-bottom: 1px solid #fff; */
    background-color: rgb(2 132 199);
    border: none;
    transition: all 1s;
    border-radius: 20px;
    z-index: -1;
    transform: rotate(0deg);
    transform: translateY(100%);

  }

  .contact:hover::before {
    transform: rotate(360deg);
    animation-delay: 0.2s;
    transform: translateY(0);
  }
  .contact:hover {
    color: #fff;
    transform: scale(0.9);
  }

  .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 0 40px;
    margin: auto;
    gap: 40px;
  }
  .profile img{
    width: 400px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: auto;
  }
  .line{
    width: 3px;
    height: 200px;
    background-color:rgb(100 116 139) ;
  }
  .name{
    font-size: 2rem;
    width: 500px;
  }
  .name p{
    font-family: 'poppins','Lora','Rubik';
    color: rgb(100 116 139);
    text-transform: capitalize;
    font-size: 1rem;
  }
  .name h1{
    /* font-family: 'Rubik','Lora','Poppins'; */
    color: #fff;
    font-family: 'mine';
    font-weight: bold;
    font-style: normal;
    font-size: 4rem;
    line-height: 75px;
  }
  .arrow img{
    width: 40px;
    fill: #fff;
    filter: grayscale(1);
  }
  .arrow{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 88%;
    position: absolute;
    left: 50%;
    bottom: 0;
    cursor: pointer;
  }
.myskills{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: rgb(100 116 139);
  row-gap: 50px;
}
.myskills h1{
  color: #fff;
  font-family: 'mine';
  display: block;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 100px;
  border-bottom: 2px solid rgb(100 116 139) ;
}
.skills{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
  font-size: 2rem;
}
.html{

  width: 200px;
  height: 200px;
  background-color: transparent;
  border-top: 2px solid rgb(100 116 139);
  border-right: 2px solid rgb(100 116 139);
  color: rgb(100 116 139);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  font-family: 'mine';
  position: relative;
  transition: all 1s ease-in-out;
  overflow: hidden;
  z-index: 1;
}

.html::before{
  content: '';
  position: absolute;
  background-color: rgb(100 116 139);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: all 1s;
  z-index: -1;
}

.html p{
  font-family: 'poppins';
  font-size: 0.5rem;
}
.html:hover::before{
  transform: translateY(0);
}
.html:hover{
  color: #fff;
  border-left: 2px solid rgb(100 116 139);
  border-bottom: 2px solid rgb(100 116 139);
  border-top: none;
  border-right: none;
}
.css{

  width: 200px;
  height: 200px;
  background-color: transparent;
  border-bottom: 2px solid rgb(100 116 139);
  border-right: 2px solid rgb(100 116 139);
  color: rgb(100 116 139);
  display: flex;
  font-family: 'mine';
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: all 1s ease-in-out;
  overflow: hidden;
  z-index: 1;
}
.css::before{
  content: '';
  position: absolute;
  background-color: rgb(100 116 139);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: all 1s;
  z-index: -1;
}
.css:hover::before{
  transform: translateY(0);
}
.css p{
  font-family: 'poppins';
  font-size: 0.5rem;
}
.css:hover{
  border-left: 2px solid rgb(100 116 139);
  border-bottom:none;
  border-top: 2px solid rgb(100 116 139);
  border-right: none;
  color: #fff;
}
.javascript{

  width: 200px;
  height: 200px;
  background-color: transparent;
  border-top: 2px solid rgb(100 116 139);
  border-right: 2px solid rgb(100 116 139);
  color: rgb(100 116 139);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: 'mine';
  cursor: pointer;
  position: relative;
  transition: all 1s ease-in-out;
  overflow: hidden;
  z-index: 1;
}
.javascript::before{
  content: '';
  position: absolute;
  background-color: rgb(100 116 139);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: all 1s;
  z-index: -1;
}
.javascript:hover::before{
  transform: translateY(0);
}
.javascript p{
  font-family: 'poppins';
  font-size: 0.5rem;
}
.javascript:hover{
  border-left: 2px solid rgb(100 116 139);
  border-bottom: 2px solid rgb(100 116 139);
  border-top: none;
  border-right: none;
  color: #fff;
}
.php{

  width: 200px;
  height: 200px;
  background-color: transparent;
  border-bottom: 2px solid rgb(100 116 139);
  border-right: 2px solid rgb(100 116 139);
  color: rgb(100 116 139) ;
  display: flex;
  flex-direction: column;
  font-family: 'mine';
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: all 1s ease-in-out;
  overflow: hidden;
  z-index: 1;
}
.php::before{
  content: '';
  position: absolute;
  background-color: rgb(100 116 139);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: all 1s;
  z-index: -1;
}
.php:hover::before{
  transform: translateY(0);
}
.php p{
  font-family: 'poppins';
  font-size: 0.5rem;
}
.php:hover{
  border-left: 2px solid rgb(100 116 139);
  border-bottom:none;
  border-top: 2px solid rgb(100 116 139);
  border-right: none;
  color: #fff;
}
  .about_page{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    /* margin-top: 10%; */
    /* background-color: #fff; */
    height: 100vh;
    position: relative;
  }
  .about_page img{
    width: 20%;
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 20.5%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
  }
  .about_title{
    font-size: 4rem;
    font-family: 'mine';
    /* background: rgb(100 116 139); */
  }
  .about_text{
    width: 500px;
    font-family: 'poppins';
    color: rgb(100 116 139);
  }
  .aboutc{
    text-align: center;
  }
  .aboutme{
    font-family: 'poppins';
    opacity: 1;
  }
.about_page:hover .aboutme{
    opacity: 1  ;
  }
.border{
  width: 50%;
  height: 4px;
  background-color: rgb(100 116 139);
  transition: all ease-in-out;
  animation: border 2s  linear infinite;
  animation-iteration-count: infinite;
/* animation-direction: alternate; */
animation-direction: alternate;
animation-timing-function: ease-in-out;
opacity: 0.1;
}

@keyframes border{
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
  }
}

.borderT{
  width: 4px;
  height: 50%;
  margin: auto;
  background-color: rgb(100 116 139);
  transition: all ease-in-out;
  animation: borderT 2s  linear infinite;
  animation-iteration-count: infinite;
/* animation-direction: alternate; */
animation-direction: alternate;
animation-timing-function: ease-in-out;
opacity: 0.1;
}
@keyframes borderT{
  0%{
    transform: translateY(-50%);
  }
  100%{
    transform: translateY(50%);
  }
}





  .education_page{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    height: 100vh;
    padding: 0 100px;
    position: relative;
  }
  .education_page img{
    width: 20%;
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 77%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
  }
  .education_text{
    width: 500px;
    font-family: 'poppins';
    color: rgb(100 116 139);
  }
  .education_title{
    font-size: 4rem;
    font-family: 'mine';
    /* background: rgb(100 116 139); */
  }

  .hobbies_page{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    height: 100vh;
    position: relative;
  }
  .hobbies_page img{
    width: 20%;
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
  }
  .hobbies_text{
    width: 500px;
    font-family: 'poppins';
    color: rgb(100 116 139);
  }
  .hobbies_title{
    font-size: 4rem;
    font-family: 'mine';
    /* background: rgb(100 116 139); */
  }

  .projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 5%;
    height: 100vh;
  }
  .project{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    padding: 0 100px;
  }
  .project1{
    /* width: 20%; */
    padding: 40px 0;
    /* height: 540px; */
    border: 2px solid rgb(100 116 139);;
    text-align: center;
    border-radius: 10px;
    font-family: 'poppins';
    color: rgb(100 116 139);
  }
  .project1 h1{
    background-color: rgb(100 116 139);
    color: #fff;
    padding: 15px;
  }
  .project1 img{
    width: 250px; 
  }
  .project2{
    /* width: 20%; */
    padding: 40px 0;
    border: 2px solid rgb(100 116 139);;
    text-align: center;
    border-radius: 10px;
    font-family: 'poppins';
    color: rgb(100 116 139);
  }
  .project2 img{
    width: 250px;
    object-fit: cover;
  }
  .project2 h1{
    background-color: rgb(100 116 139);
    color: #fff;
    padding: 15px;
  }
  .project3{
    /* width: 20%; */
    padding: 40px 0;
    border: 2px solid rgb(100 116 139);;
    text-align: center;
    border-radius: 10px;
    font-family: 'poppins';
    color: rgb(100 116 139);
  }
  .project4{
    /* width: 20%; */
    padding: 40px 0;
    border: 2px solid rgb(100 116 139);;
    text-align: center;
    border-radius: 10px;
    font-family: 'poppins';
    color: rgb(100 116 139);
  }
  .project_title{
    font-size: 1.5rem;
    font-family: 'mine';
    text-align: center;
    margin: 20px;
  }

  button{
    width: 100px;
    border: none;
    background-color: rgb(100 116 139);
    color: #fff;
    font-family: 'poppins';
    padding: 10px;
    margin-top: 10px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  button:hover{
   background-color: rgb(29, 34, 41);
  }
  .cnt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
.conatact_page{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
  /* background-color: #fff; */
  border: 2px solid rgb(100 116 139);
  border-radius: 20px 0 20px 0;
  padding: 40px;
}
.contacts{
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  width: 100%;
  align-items: center;
}
.contact_title{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.contact_title h1{
  font-family: 'mine';
  font-size: 2rem;
  color: rgb(100 116 139);
  cursor: pointer;
  border-bottom: 1px solid rgb(100 116 139);
}
.contact_title p{
  font-family: 'poppins';
  color: rgb(100 116 139);
  font-size: 0.8rem;
}
.contact_inputs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact_inputs input{
  padding: 10px;
  margin: 10px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(100 116 139);
  background: transparent;
  color: rgb(100 116 139);

}

.icons{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 25px;
  margin-top: 10px;
  opacity: 0.8;
  cursor: pointer;
  padding: 0 15px;
}
.icons a{
  color: rgb(100 116 139);
  transition: 2s linear ease-in-out;
}
.icons a:hover{
  transform: translateY(-5px);
  color: rgb(141, 189, 255);
}

  footer{
    color: rgb(100 116 139);
    font-family: 'poppins';
    padding: 40px 0;
    text-align: center;
  }


